// Mixin for media queries
@mixin respond-to($media) {
  @if $media == desktop {
    @media (max-width: $mediaDesktop) {
      @content;
    }
  }

  @if $media == laptop {
    @media (max-width: $mediaLaptop) {
      @content;
    }
  }

  @if $media == tablet {
    @media (max-width: $mediaTablet) {
      @content;
    }
  }

  @if $media == mobile {
    @media (max-width: $mediaMobile) {
      @content;
    }
  }
}

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin buttonStyle {
  background-color: $bgColor;
  border: $borderColor 1px solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($buttonColor, 10%);
  }
}
