// Mixin for media queries
@mixin respond-to($media) {
  @if $media == desktop {
    @media (max-width: $mediaDesktop) {
      @content;
    }
  }

  @if $media == laptop {
    @media (max-width: $mediaLaptop) {
      @content;
    }
  }

  @if $media == tablet {
    @media (max-width: $mediaTablet) {
      @content;
    }
  }

  @if $media == mobile {
    @media (max-width: $mediaMobile) {
      @content;
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin linkStyle {
  padding: 0;
  color: $blackColor;
  font-size: 1.3rem;
  transition: all 0.3s;
  @include flexCenter;

  &::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 40%;
    z-index: -1;
    height: 80%;
    width: calc(100% + 18px);
    background-color: $blueColor;
    transition: all 0.3s;
    pointer-events: none;
  }
  &:hover::before {
    height: 120%;
    top: 0;
  }
}

@mixin contentText {
  color: $darkerGreyColor;
  font-size: 17px;
  line-height: 26px;
  p {
    margin-bottom: 20px;
  }
  ul {
    li {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 6px;
    }
  }
}
