// Mixin for media queries
@mixin respond-to($media) {
  @if $media == desktop {
    @media (max-width: $mediaDesktop) {
      @content;
    }
  }

  @if $media == laptop {
    @media (max-width: $mediaLaptop) {
      @content;
    }
  }

  @if $media == tablet {
    @media (max-width: $mediaTablet) {
      @content;
    }
  }

  @if $media == mobile {
    @media (max-width: $mediaMobile) {
      @content;
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin buttonStyle {
  background-color: $bgColor;
  border: $border;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($buttonColor, 10%);
  }
}

@mixin contentText {
  color: $darkerGreyColor;
  font-size: 17px;
  line-height: 26px;
  p {
    margin-bottom: 20px;
  }
  ul {
    li {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 6px;
    }
  }
}
