// fonts
$fontFamily: Arial, sans-serif;
$titleFont: "Noto Serif", serif;
$bodyFont: Arial, sans-serif;

// sizes
$headerHeight: 100px;
$iconSize: 24px;

// colors
$borderColor: #000000;
$blackColor: #000000;
$blueColor: #7fd9e5;
$bgColor: #ebebec;
$buttonColor: #b7b7b7;
