// fonts
$fontFamily: Arial, sans-serif;
$titleFont: "Noto Serif", serif;
$bodyFont: Arial, sans-serif;

// sizes
$headerHeight: 110px;

// colors
$borderColor: #000000;
$bgColor: #ebebec;
$buttonColor: #b7b7b7;
