// fonts
$fontFamily: Arial, sans-serif;
$titleFont: "Noto Serif", serif;
$bodyFont: Arial, sans-serif;

// sizes
$headerHeight: 100px;
$headerMobileHeight: 80px;
$iconSize: 28px;
$circleSize: 500px;

// colors
$borderColor: #000000;
$blackColor: #000000;
$greyColor: #666666;
$darkerGreyColor: #4b4b4b;
$blueColor: #7fd9e5;
$whiteColor: #ffffff;
$bgColor: #ebebec;
$buttonColor: #b7b7b7;
$border: 2px solid $borderColor;

// Media sizes
$mediaDesktop: 2080px;
$mediaLaptop: 1680px;
$mediaTablet: 1040px;
$mediaMobile: 696px;