.contact {
  position: relative;
  width: 100%;
  overflow: hidden;
  &__container {
    position: relative;
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    padding: 80px 30px 80px 30px;
  }
  &__text {
    @include contentText;
  }
  &__links {
    display: flex;
    gap: 32px;
    a {
      display: inline-block;
      width: 48px;
      height: 48px;
    }
  }
  &__form {
    margin-top: 40px;
  }
  &__img {
    position: absolute;
    z-index: -1;
    bottom: 20px;
    right: -240px;
    width: 400px;
    object-fit: cover;
    border-radius: 50%;
  }
  &__btn {
    margin-top: 6px;
  }
}
