.projects {
  border-bottom: $borderColor 1px solid;
  padding-bottom: 60px;
  &__title {
    padding: 70px 32px 28px 32px;
    text-align: center;
  }
  &__tags {
    @include flexWrap;
    padding: 0 32px 12px 32px;
  }
  &__tagBtn {
    padding: 8px 14px;
    font-size: 16px;
    margin: 0 8px 16px 8px;
    border: none;
    border-radius: 20px;
    color: $blackColor;
    border: $blackColor 1.5px solid;
    text-transform: capitalize;
    &--active {
      background-color: $blueColor;
    }
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      background-color: $blueColor;
    }
    @include respond-to(mobile) {
      padding: 6px 12px;
      font-size: 14px;
      margin: 0 6px 12px 6px;
    }
  }
  &__subTitle {
    position: relative;
    width: 50%;
    max-width: 500px;
    padding: 0 32px;
    margin: 0 auto 16px auto;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: $darkerGreyColor;
    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      display: block;
      width: 100%;
      height: 8px;
      border-radius: 4px;
      margin-top: -6px;
      left: 0;
      background-color: $lighterGreyColor;
    }
  }

  &__container {
    padding: 12px 32px 32px 32px;
    max-width: $mediaTablet;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
  }
}
