.project {
  min-height: 100vh;
  &__backBtn {
    margin: 0 0 24px 0;
    position: relative;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: $bgColor;
    border: $blackColor 1px solid;
    svg {
      transform: rotate(180deg);
      position: absolute;
      left: 8px;
      top: 8px;
    }
    @include respond-to(not-mobile) {
      &:hover {
        background-color: $whiteColor;
      }
    }
    @include respond-to(mobile) {
      position: fixed;
      bottom: 24px;
      left: 24px;
      z-index: 2;
    }
  }
  &__container {
    padding: 46px 32px 90px 32px;
    max-width: $mediaTablet;
    margin: 0 auto;
    p {
      @include contentText;
    }
    img {
      width: 100%;
      max-width: 500px;
      object-fit: cover;
    }
    @include respond-to(mobile) {
      padding: 90px 32px 90px 32px;
    }
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
    gap: 8px;
  }
  &__tag {
    color: $blackColor;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 8px;
    border: $blackColor 1px solid;
    text-transform: capitalize;
  }
  &__description {
    margin-top: 32px;
  }
  &__links {
    margin: 32px 0;
  }
  &__link {
    color: $blackColor;
    font-size: 19px;
    text-decoration: underline;
    text-decoration-color: $blueColor;
  }
}
