.skills {
  border-bottom: $border;
  &__codingCol {
    border-right: $border;
    @include respond-to(mobile) {
      border-right: none;
      border-bottom: $border;
    }
  }
  &__title {
    text-align: center;
    font-size: 28px;
    line-height: 0.8;
    font-weight: 800;
    margin: 56px 0 24px 0;
    color: $blackColor;
  }
  &__titleDesign {
    font-family: $titleFont;
  }
  &__description {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    @include contentText;
    @include respond-to(mobile) {
      width: 85%;
    }
  }
  &__container {
    @include flexWrap;
    gap: 28px;
    padding: 30px 32px 72px 32px;
  }
  &__item {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    width: 30%;
    max-width: 130px;
  }
}
