* {
  box-sizing: border-box;
  font-family: $fontFamily;
}

html {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  position: fixed;
  left: 120px;
  height: 100%;
  width: calc(100% - 120px);
  overflow: auto;
  margin: 0;
  background-color: $bgColor;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 1000px;
}
