* {
  font-family: $fontFamily;
}

html {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: $bgColor;
}

body {
  position: fixed;
  left: $headerHeight;
  height: 100%;
  width: calc(100% - $headerHeight);
  overflow: auto;
  scroll-behavior: smooth;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
